[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
requests = "*"
beautifulsoup4 = "*"

[dev-packages]
pytest= "*"
pytest_mock= "*"
pytest-cov= "*"
pytest-localserver= "*"

[requires]
python_version = "3.10"
